{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>My Tasks</h1>
        {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for x in tasks %}
                    <tbody>
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.start_date }}</td>
                            <td>{{ x.due_date }}</td>
                            <td>{{ x.is_completed|yesno }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock main %}