{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if show_project.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for x in show_project.tasks.all %}
                    <tbody>
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.assignee }}</td>
                            <td>{{ x.start_date }}</td>
                            <td>{{ x.due_date }}</td>
                            <td>{{ x.is_complete|yesno }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock main %}