{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if not list_projects %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                {% for x in list_projects %}
                    <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'show_project' x.id %}">{{ x.name }}</a>
                            </td>
                            <td>{{ x.tasks.all|length }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock main %}